{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         tensegritics/clojuredart
         {:git/url "https://github.com/tensegritics/ClojureDart.git"
          :sha     "cecedc1fe40bbdb1007196711162036430bcec1c"}}}
